.commentModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.commentModal {
  background: #E3F2FD;
  width: 1000px;
  max-height: 100vh;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.commentModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
